@use '../../styles/variables' as *;
@use '../../styles/partial';

.dropdown-wrapper {
    .dropdown-menu {
        position: absolute;
        top: -40px;
        background-color: $胡粉;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: 3px;
        color: $沈香茶;
        @extend .medium-weight;
    }
    .dropdown-item {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: $白练;
        }
    }
}