.log.mainContent {
    flex-grow: 0;
    position: relative;
}

.log.mainContent .content-hook {
    font-size: 18px;
    line-height: 1.67;
}

.log.mainContent .bottom-button-group {
    display: flex;
    flex: 1;
    justify-content: space-between;

}

.log.mainContent .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.log.mainContent .modal .button-group {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.log.mainContent .modal .button {
    margin: 0px 10px 0 0;
}

@media screen and (max-width: 720px) {
    .log.mainContent .modal {
        width: 75%;
    }
}

@media screen and (max-width: 380px) {
    .log.mainContent .modal {
        width: 95%;
    }
}
