.adventure {
  display: flex;
  flex-direction: column;
}

.adventure .content {
    display: flex;
    justify-content: space-around;
}

.adventure .left {
    display: flex;
    flex-direction: column;;
}
