.adventure {
  display: flex;
  flex-direction: column;
}

.adventure .content {
    display: flex;
    justify-content: space-around;
}

.adventure .left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
    border-right: 1px solid #666;
}

.adventure .right {
    padding: 10px;
}
