@use '../../styles/variables' as *;
@use '../../styles/partial';

.button {
    background-color: $御召御纳户;
    color: $胡粉;
    cursor: pointer;
    @extend .medium-weight;
}

.button:hover {
    background-color: $舛花;
}

.button:active {
    background-color: $舛花;
}
