@use './variables' as v;
@use './partial' as p;

.log {
    h1 {
        margin-top: 2em;
    }
    .grey-title {
        margin: 1.2em 0;
    }
}

.log.main-content .content-hook {
    font-size: 18px;
    line-height: 1.67;
}

.log.main-content {
    flex-grow: 0;
    position: relative;
    font {
        transition: color 1s, transform 1s;
    }
    .bottom-button-group {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    .bottom-menu {
        background-color: v.$银鼠;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.8em;
        transform: translate3d(0, 0, 0);
        box-sizing: border-box;
        .button-menu-content {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .button {
            margin: 0px 10px 0 0;
        }
        .percent {
            margin-right: 1em;
            color: v.$胡粉;
            height: 1.8em;
            line-height: 1.8em;
        }
    }
}

@include p.slide(0, 1.8em, 'log-bottom-menu');

