// color
$灰: #828282;
$铅: #787878;
$银鼠: #91989F;
$白鼠: #BDC0BA;
$胡粉: #FFFFFB;
$白练: #FCFAF2;
$紫鳶: #60373E;

$青碧: #268785;
$水浅葱: #66BAB7;
$铁: #26453D;
$青磁: #69B0AC;
$青绿: #00AA90;
$沈香茶: #4F726C;
$蓝海松茶: #0F4C3A;

$铁御纳户: #255359;
$新桥: #0089A7;
$蓝: #0D5661;
$御纳户: #0C4842;
$浅葱: #33A6B8;
$水: #81C7D4;

$御召御纳户: #2E5C6E;
$千草: #3A8FB7;
$熨斗目花: #2B5F75;
$空: #58B2DC;
$舛花: #577C8A;
$蓝鼠: #566C73;
$花浅葱: #1E88A8;

$white: #fff;