@use '../../styles/variables' as *;
.loading {
    align-self: center;
    font-size: 32px;
    font-weight: 600;
    color: $御召御纳户;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
