.loading {
    align-self: center;
    font-size: 32px;
    font-weight: 600;
    color: #234A84;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
